<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Global</key>
	<dict>
		<key>spotz</key>
		<dict>
			<key>appId</key>
			<string>QbiAURuUQ9JUdL8X</string>
			<key>appKey</key>
			<string>EBUEflkzxmzHmHa31Fm0MgZ3KIr3FT9kdkLKd7rE</string>
			<key>retailKey</key>
			<string>Ah5JfpLA7Ikr28BKembcUEbLlwelaNGBYy8eSoIt</string>
		</dict>
		<key>navigationBar</key>
		<dict>
			<key>buttonColor</key>
			<string>#ffffff</string>
			<key>titleColor</key>
			<string>#ffffff</string>
			<key>backgroundColor</key>
			<string>e65e5e</string>
			<key>backgroundImage</key>
			<string></string>
		</dict>
		<key>productImagePlaceHolder</key>
		<dict>
			<key>image</key>
			<string>pics/placeHolder.png</string>
		</dict>
		<key>appLaunchImage</key>
		<dict>
			<key>image</key>
			<string>pics/splash.png</string>
		</dict>
	</dict>
	<key>MainMenuView</key>
	<dict>
		<key>title</key>
		<string>Company Brand1</string>
		<key>loadingText</key>
		<string>Waiting...</string>
		<key>loadingDetailsText</key>
		<string>Initialization data</string>
		<key>infoBackgroundImageView</key>
		<dict>
			<key>image</key>
			<string>pics/infoBg.png</string>
		</dict>
		<key>backgroundColor</key>
		<string>#f8f3ef</string>
		<key>tableView</key>
		<dict>
			<key>separatorInset</key>
			<string>{0, 0, 0, 0}</string>
			<key>rowHeight</key>
			<string>100</string>
			<key>backgroundColor</key>
			<string>#f8f3ef</string>
			<key>separatorColor</key>
			<string>#d8d8d8</string>
			<key>cells</key>
			<array>
				<dict>
					<key>textLabel</key>
					<dict>
						<key>textColor</key>
						<string>#505050</string>
						<key>fontSize</key>
						<string>20</string>
						<key>text</key>
						<string>Specials &amp; Promotions</string>
					</dict>
					<key>imageView</key>
					<dict>
						<key>image</key>
						<string>pics/icon1.png</string>
					</dict>
				</dict>
				<dict>
					<key>textLabel</key>
					<dict>
						<key>textColor</key>
						<string>#505050</string>
						<key>fontSize</key>
						<string>20</string>
						<key>text</key>
						<string>Products Explorer</string>
					</dict>
					<key>imageView</key>
					<dict>
						<key>image</key>
						<string>pics/icon2.png</string>
					</dict>
				</dict>
				<dict>
					<key>hidden</key>
					<string>1</string>
					<key>textLabel</key>
					<dict>
						<key>textColor</key>
						<string>#505050</string>
						<key>fontSize</key>
						<string>20</string>
						<key>text</key>
						<string>Click &amp; Collect</string>
					</dict>
					<key>imageView</key>
					<dict>
						<key>image</key>
						<string>pics/icon3.png</string>
					</dict>
					<key>rightImageView</key>
					<dict>
						<key>image</key>
						<string>pics/icon3small.png</string>
					</dict>
				</dict>
				<dict>
					<key>textLabel</key>
					<dict>
						<key>textColor</key>
						<string>#505050</string>
						<key>fontSize</key>
						<string>20</string>
						<key>text</key>
						<string>Push Locate</string>
					</dict>
					<key>imageView</key>
					<dict>
						<key>image</key>
						<string>pics/icon4.png</string>
					</dict>
				</dict>
			</array>
		</dict>
		<key>infoLabel</key>
		<dict>
			<key>backgroundColor</key>
			<string></string>
			<key>textColor</key>
			<string>#FFFFFF</string>
			<key>fontSize</key>
			<string>14</string>
			<key>text</key>
			<string>Our platform can bring to life a location-barse experience for your enterprise in under 10 minutes.</string>
		</dict>
	</dict>
	<key>MainLeftMenuView</key>
	<dict>
		<key>userImageView</key>
		<dict>
			<key>image</key>
			<string>pics/userAvatar.png</string>
		</dict>
		<key>separator</key>
		<dict>
			<key>alpha</key>
			<string>0.6</string>
			<key>backgroundColor</key>
			<string>#4d4d4d</string>
		</dict>
		<key>infoLabel</key>
		<dict>
			<key>backgroundColor</key>
			<string></string>
			<key>textColor</key>
			<string>#dfe4cb</string>
			<key>fontSize</key>
			<string>12</string>
			<key>text</key>
			<string>You have 2 orders are waiting to pickup</string>
		</dict>
		<key>tableView</key>
		<dict>
			<key>separatorInset</key>
			<string>{0, 0, 0, 0}</string>
			<key>rowHeight</key>
			<string>55</string>
			<key>backgroundColor</key>
			<string>#2b2b2b</string>
			<key>separatorColor</key>
			<string>#4d4d4d</string>
			<key>cells</key>
			<array>
				<dict>
					<key>selectedColor</key>
					<string>7d7d7d</string>
					<key>textLabel</key>
					<dict>
						<key>textColor</key>
						<string>#FFFFFF</string>
						<key>fontSize</key>
						<string>18</string>
						<key>text</key>
						<string>Main menu</string>
					</dict>
					<key>imageView</key>
					<dict>
						<key>image</key>
						<string>pics/leftIcon1.png</string>
					</dict>
				</dict>
				<dict>
					<key>selectedColor</key>
					<string>7d7d7d</string>
					<key>textLabel</key>
					<dict>
						<key>textColor</key>
						<string>#FFFFFF</string>
						<key>fontSize</key>
						<string>18</string>
						<key>text</key>
						<string>Shopping cart</string>
					</dict>
					<key>imageView</key>
					<dict>
						<key>image</key>
						<string>pics/leftIcon2.png</string>
					</dict>
				</dict>
				<dict>
					<key>hidden</key>
					<string>0</string>
					<key>selectedColor</key>
					<string>7d7d7d</string>
					<key>textLabel</key>
					<dict>
						<key>textColor</key>
						<string>#FFFFFF</string>
						<key>fontSize</key>
						<string>18</string>
						<key>text</key>
						<string>Specials &amp; Promotions</string>
					</dict>
					<key>imageView</key>
					<dict>
						<key>image</key>
						<string>pics/leftIcon3.png</string>
					</dict>
				</dict>
				<dict>
					<key>hidden</key>
					<string>0</string>
					<key>selectedColor</key>
					<string>7d7d7d</string>
					<key>textLabel</key>
					<dict>
						<key>textColor</key>
						<string>#FFFFFF</string>
						<key>fontSize</key>
						<string>18</string>
						<key>text</key>
						<string>Order History</string>
					</dict>
					<key>imageView</key>
					<dict>
						<key>image</key>
						<string>pics/leftIcon4.png</string>
					</dict>
				</dict>
				<dict>
					<key>selectedColor</key>
					<string>7d7d7d</string>
					<key>textLabel</key>
					<dict>
						<key>textColor</key>
						<string>#FFFFFF</string>
						<key>fontSize</key>
						<string>18</string>
						<key>text</key>
						<string>Products explore</string>
					</dict>
					<key>imageView</key>
					<dict>
						<key>image</key>
						<string>pics/leftIcon5.png</string>
					</dict>
				</dict>
				<dict>
					<key>hidden</key>
					<string>0</string>
					<key>selectedColor</key>
					<string>7d7d7d</string>
					<key>textLabel</key>
					<dict>
						<key>textColor</key>
						<string>#FFFFFF</string>
						<key>fontSize</key>
						<string>18</string>
						<key>text</key>
						<string>Push locate</string>
					</dict>
					<key>imageView</key>
					<dict>
						<key>image</key>
						<string>pics/leftIcon6.png</string>
					</dict>
				</dict>
				<dict>
					<key>hidden</key>
					<string>1</string>
					<key>selectedColor</key>
					<string>7d7d7d</string>
					<key>textLabel</key>
					<dict>
						<key>textColor</key>
						<string>#FFFFFF</string>
						<key>fontSize</key>
						<string>18</string>
						<key>text</key>
						<string>Contact us</string>
					</dict>
					<key>imageView</key>
					<dict>
						<key>image</key>
						<string>pics/leftIcon7.png</string>
					</dict>
				</dict>
				<dict>
					<key>selectedColor</key>
					<string>7d7d7d</string>
					<key>textLabel</key>
					<dict>
						<key>textColor</key>
						<string>#FFFFFF</string>
						<key>fontSize</key>
						<string>18</string>
						<key>text</key>
						<string>Reset demo app</string>
					</dict>
					<key>imageView</key>
					<dict>
						<key>image</key>
						<string>pics/leftIcon8.png</string>
					</dict>
				</dict>
			</array>
		</dict>
		<key>nameLabel</key>
		<dict>
			<key>backgroundColor</key>
			<string></string>
			<key>textColor</key>
			<string>#FFFFFF</string>
			<key>fontSize</key>
			<string>22</string>
			<key>text</key>
			<string>Tony·Stark</string>
		</dict>
	</dict>
	<key>SpecialListView</key>
	<dict>
		<key>title</key>
		<string>Specials &amp; Promotions</string>
		<key>shoppingCartButton</key>
		<dict>
			<key>titleColor</key>
			<string>#8c9b47</string>
			<key>fontSize</key>
			<string>18</string>
			<key>title</key>
			<string>Shopping Cart</string>
			<key>image</key>
			<string></string>
			<key>backgroundImage</key>
			<string>pics/shoppingCartBtn.png</string>
			<key>backgroundColor</key>
			<string></string>
			<key>highlightedBackgroundImage</key>
			<string>pics/bigButtonSelectedBg.png</string>
			<key>highlightedTitleColor</key>
			<string>ffffff</string>
		</dict>
		<key>tableView</key>
		<dict>
			<key>separatorInset</key>
			<string>{0, 0, 0, 0}</string>
			<key>rowHeight</key>
			<string>200</string>
			<key>backgroundColor</key>
			<string></string>
			<key>separatorColor</key>
			<string></string>
			<key>cells</key>
			<array>
				<dict>
					<key>detailTextLabel</key>
					<dict>
						<key>textColor</key>
						<string>#ffffff</string>
						<key>fontSize</key>
						<string>16</string>
						<key>text</key>
						<string>Now $123.99</string>
					</dict>
					<key>textLabel</key>
					<dict>
						<key>textColor</key>
						<string>#ffffff</string>
						<key>fontSize</key>
						<string>16</string>
						<key>text</key>
						<string>Contrary to popular belief, Lorem lpsum</string>
					</dict>
					<key>imageView</key>
					<dict>
						<key>image</key>
						<string>pics/special1.png</string>
					</dict>
				</dict>
				<dict>
					<key>textLabel</key>
					<dict>
						<key>textColor</key>
						<string>#ffffff</string>
						<key>fontSize</key>
						<string>16</string>
						<key>text</key>
						<string>Contrary to popular belief, Lorem lpsum</string>
					</dict>
					<key>detailTextLabel</key>
					<dict>
						<key>textColor</key>
						<string>#ffffff</string>
						<key>fontSize</key>
						<string>16</string>
						<key>text</key>
						<string>Now $123.99</string>
					</dict>
					<key>imageView</key>
					<dict>
						<key>image</key>
						<string>pics/special2.png</string>
					</dict>
				</dict>
				<dict>
					<key>detailTextLabel</key>
					<dict>
						<key>textColor</key>
						<string>#ffffff</string>
						<key>fontSize</key>
						<string>16</string>
						<key>text</key>
						<string>Now $123.99</string>
					</dict>
					<key>textLabel</key>
					<dict>
						<key>textColor</key>
						<string>#ffffff</string>
						<key>fontSize</key>
						<string>16</string>
						<key>text</key>
						<string>Contrary to popular belief, Lorem lpsum</string>
					</dict>
					<key>imageView</key>
					<dict>
						<key>image</key>
						<string>pics/special1.png</string>
					</dict>
				</dict>
			</array>
		</dict>
	</dict>
	<key>SpecialCategoryView</key>
	<dict>
		<key>backgroundColor</key>
		<string>#f8f3ef</string>
		<key>title</key>
		<string>Special Category</string>
		<key>tableView</key>
		<dict>
			<key>separatorInset</key>
			<string>{0, 0, 0, 0}</string>
			<key>rowHeight</key>
			<string>50</string>
			<key>backgroundColor</key>
			<string></string>
			<key>separatorColor</key>
			<string>d6d6d6</string>
			<key>cells</key>
			<array>
				<dict>
					<key>backgroundColor</key>
					<string>#FFFFFF</string>
					<key>selectedColor</key>
					<string>#f8f3ef</string>
					<key>accessoryImage</key>
					<string>pics/greenCheck.png</string>
					<key>textLabel</key>
					<dict>
						<key>textColor</key>
						<string>#000000</string>
						<key>fontSize</key>
						<string>18</string>
						<key>text</key>
						<string>Bread &amp; Bakery</string>
					</dict>
					<key>imageView</key>
					<dict>
						<key>image</key>
						<string></string>
					</dict>
				</dict>
				<dict>
					<key>selectedColor</key>
					<string>#f8f3ef</string>
					<key>backgroundColor</key>
					<string>#FFFFFF</string>
					<key>accessoryImage</key>
					<string>pics/greenCheck.png</string>
					<key>textLabel</key>
					<dict>
						<key>textColor</key>
						<string>#000000</string>
						<key>fontSize</key>
						<string>18</string>
						<key>text</key>
						<string>Stationery &amp; Media</string>
					</dict>
					<key>imageView</key>
					<dict>
						<key>image</key>
						<string></string>
					</dict>
				</dict>
				<dict>
					<key>selectedColor</key>
					<string>#f8f3ef</string>
					<key>backgroundColor</key>
					<string>#FFFFFF</string>
					<key>accessoryImage</key>
					<string>pics/greenCheck.png</string>
					<key>textLabel</key>
					<dict>
						<key>textColor</key>
						<string>#000000</string>
						<key>fontSize</key>
						<string>18</string>
						<key>text</key>
						<string>Fruit &amp; Vegetables</string>
					</dict>
					<key>imageView</key>
					<dict>
						<key>image</key>
						<string></string>
					</dict>
				</dict>
				<dict>
					<key>selectedColor</key>
					<string>#f8f3ef</string>
					<key>backgroundColor</key>
					<string>#FFFFFF</string>
					<key>accessoryImage</key>
					<string>pics/greenCheck.png</string>
					<key>textLabel</key>
					<dict>
						<key>textColor</key>
						<string>#000000</string>
						<key>fontSize</key>
						<string>18</string>
						<key>text</key>
						<string>Dairy, Eggs &amp; Meals</string>
					</dict>
					<key>imageView</key>
					<dict>
						<key>image</key>
						<string></string>
					</dict>
				</dict>
				<dict>
					<key>selectedColor</key>
					<string>#f8f3ef</string>
					<key>backgroundColor</key>
					<string>#FFFFFF</string>
					<key>accessoryImage</key>
					<string>pics/greenCheck.png</string>
					<key>textLabel</key>
					<dict>
						<key>textColor</key>
						<string>#000000</string>
						<key>fontSize</key>
						<string>18</string>
						<key>text</key>
						<string>Frozen Foods</string>
					</dict>
					<key>imageView</key>
					<dict>
						<key>image</key>
						<string></string>
					</dict>
				</dict>
				<dict>
					<key>selectedColor</key>
					<string>#f8f3ef</string>
					<key>backgroundColor</key>
					<string>#FFFFFF</string>
					<key>accessoryImage</key>
					<string>pics/greenCheck.png</string>
					<key>textLabel</key>
					<dict>
						<key>textColor</key>
						<string>#000000</string>
						<key>fontSize</key>
						<string>18</string>
						<key>text</key>
						<string>Pet</string>
					</dict>
					<key>imageView</key>
					<dict>
						<key>image</key>
						<string></string>
					</dict>
				</dict>
				<dict>
					<key>selectedColor</key>
					<string>#f8f3ef</string>
					<key>backgroundColor</key>
					<string>#FFFFFF</string>
					<key>accessoryImage</key>
					<string>pics/greenCheck.png</string>
					<key>textLabel</key>
					<dict>
						<key>textColor</key>
						<string>#000000</string>
						<key>fontSize</key>
						<string>18</string>
						<key>text</key>
						<string>Household</string>
					</dict>
					<key>imageView</key>
					<dict>
						<key>image</key>
						<string></string>
					</dict>
				</dict>
			</array>
		</dict>
	</dict>
	<key>ProductView</key>
	<dict>
		<key>title</key>
		<string>Product</string>
		<key>backgroundColor</key>
		<string>#f8f3ef</string>
		<key>cartMenuView</key>
		<dict>
			<key>cartMenuTitleLabel</key>
			<dict>
				<key>backgroundColor</key>
				<string></string>
				<key>textColor</key>
				<string>#000000</string>
				<key>fontSize</key>
				<string>20</string>
				<key>text</key>
				<string>Sunbeam</string>
			</dict>
			<key>cartMenusubtitleLabel</key>
			<dict>
				<key>backgroundColor</key>
				<string></string>
				<key>textColor</key>
				<string>#000000</string>
				<key>fontSize</key>
				<string>18</string>
				<key>text</key>
				<string>Mixmaster 500W</string>
			</dict>
			<key>cartMenuContinueButton</key>
			<dict>
				<key>titleColor</key>
				<string>#8c9b47</string>
				<key>fontSize</key>
				<string>16</string>
				<key>title</key>
				<string>Continue Shopping</string>
				<key>image</key>
				<string></string>
				<key>backgroundImage</key>
				<string>pics/shoppingCartBtn.png</string>
				<key>backgroundColor</key>
				<string></string>
			</dict>
			<key>cartMenuCheckoutButton</key>
			<dict>
				<key>titleColor</key>
				<string>#8c9b47</string>
				<key>fontSize</key>
				<string>16</string>
				<key>title</key>
				<string>Check Out</string>
				<key>image</key>
				<string></string>
				<key>backgroundImage</key>
				<string></string>
				<key>backgroundColor</key>
				<string></string>
			</dict>
		</dict>
		<key>shoppingCartButton</key>
		<dict>
			<key>titleColor</key>
			<string>#8c9b47</string>
			<key>fontSize</key>
			<string>18</string>
			<key>title</key>
			<string>Shopping Cart</string>
			<key>image</key>
			<string></string>
			<key>backgroundImage</key>
			<string>pics/shoppingCartBtn.png</string>
			<key>backgroundColor</key>
			<string></string>
			<key>highlightedBackgroundImage</key>
			<string>pics/smallBtnSelectedBg.png</string>
			<key>highlightedTitleColor</key>
			<string>ffffff</string>
		</dict>
		<key>addCartButton</key>
		<dict>
			<key>titleColor</key>
			<string>#8c9b47</string>
			<key>fontSize</key>
			<string>18</string>
			<key>title</key>
			<string>Add to Cart</string>
			<key>image</key>
			<string></string>
			<key>backgroundImage</key>
			<string>pics/shoppingCartBtn.png</string>
			<key>backgroundColor</key>
			<string></string>
			<key>highlightedBackgroundImage</key>
			<string>pics/smallBtnSelectedBg.png</string>
			<key>highlightedTitleColor</key>
			<string>ffffff</string>
		</dict>
		<key>titleLabel</key>
		<dict>
			<key>backgroundColor</key>
			<string></string>
			<key>textColor</key>
			<string>#000000</string>
			<key>fontSize</key>
			<string>22</string>
			<key>text</key>
			<string>Sunbeam</string>
		</dict>
		<key>subtitleLabel</key>
		<dict>
			<key>backgroundColor</key>
			<string></string>
			<key>textColor</key>
			<string>#000000</string>
			<key>fontSize</key>
			<string>18</string>
			<key>text</key>
			<string>Mixmaster 500W Food Mix</string>
		</dict>
		<key>descLabel</key>
		<dict>
			<key>backgroundColor</key>
			<string></string>
			<key>textColor</key>
			<string>#606060</string>
			<key>fontSize</key>
			<string>14</string>
			<key>text</key>
			<string>An innovative three-way beating action is part of what accounts for this 500W stand</string>
		</dict>
		<key>priceTitleLabel</key>
		<dict>
			<key>backgroundColor</key>
			<string></string>
			<key>textColor</key>
			<string>#000000</string>
			<key>fontSize</key>
			<string>14</string>
			<key>text</key>
			<string>Price:</string>
		</dict>
		<key>priceLabel</key>
		<dict>
			<key>backgroundColor</key>
			<string></string>
			<key>textColor</key>
			<string>#000000</string>
			<key>fontSize</key>
			<string>22</string>
			<key>text</key>
			<string>$349.00</string>
		</dict>
	</dict>
	<key>ProductExplorerView</key>
	<dict>
		<key>title</key>
		<string>Product Explorer</string>
		<key>backgroundColor</key>
		<string>#f8f3ef</string>
		<key>infoBackgroundImageView</key>
		<dict>
			<key>image</key>
			<string>pics/infoBg.png</string>
		</dict>
		<key>infoLabel</key>
		<dict>
			<key>backgroundColor</key>
			<string></string>
			<key>textColor</key>
			<string>#FFFFFF</string>
			<key>fontSize</key>
			<string>14</string>
			<key>text</key>
			<string>Explorer nearby products by placing your phone next to the product information tag</string>
		</dict>
	</dict>
	<key>ClickCollectView</key>
	<dict>
		<key>title</key>
		<string>Click &amp; Collect</string>
		<key>backgroundColor</key>
		<string>#f8f3ef</string>
		<key>tableView</key>
		<dict>
			<key>sectionTitleLabel</key>
			<dict>
				<key>backgroundColor</key>
				<string></string>
				<key>textColor</key>
				<string>#35312E</string>
				<key>fontSize</key>
				<string>16</string>
			</dict>
			<key>separatorInset</key>
			<string>{0, 0, 0, 0}</string>
			<key>baseCell</key>
			<dict>
				<key>textLabel</key>
				<dict>
					<key>textColor</key>
					<string>#000000</string>
					<key>fontSize</key>
					<string>18</string>
					<key>text</key>
					<string>Order ID: 022118</string>
				</dict>
				<key>detailTextLabel</key>
				<dict>
					<key>textColor</key>
					<string>#000000</string>
					<key>fontSize</key>
					<string>14</string>
					<key>text</key>
					<string>11 May 2015</string>
				</dict>
				<key>imageView</key>
				<dict>
					<key>image</key>
					<string>pics/viewOrderIcon@2x.png</string>
				</dict>
				<key>rightButton</key>
				<dict>
					<key>image</key>
					<string>pics/expendBtn@2x.png</string>
				</dict>
			</dict>
			<key>futureCell</key>
			<dict>
				<key>itemView</key>
				<dict>
					<key>nameLabel</key>
					<dict>
						<key>backgroundColor</key>
						<string></string>
						<key>textColor</key>
						<string>#000000</string>
						<key>fontSize</key>
						<string>16</string>
						<key>text</key>
						<string>Lorem lpsum</string>
					</dict>
					<key>priceLabel</key>
					<dict>
						<key>backgroundColor</key>
						<string></string>
						<key>textColor</key>
						<string>#000000</string>
						<key>fontSize</key>
						<string>15</string>
						<key>text</key>
						<string>$38.99</string>
					</dict>
					<key>quantityLabel</key>
					<dict>
						<key>backgroundColor</key>
						<string></string>
						<key>textColor</key>
						<string>#000000</string>
						<key>fontSize</key>
						<string>14</string>
						<key>text</key>
						<string>Quantity: 1</string>
					</dict>
				</dict>
				<key>textLabel</key>
				<dict>
					<key>textColor</key>
					<string>#000000</string>
					<key>fontSize</key>
					<string>18</string>
					<key>text</key>
					<string>Order ID: 022118</string>
				</dict>
				<key>detailTextLabel</key>
				<dict>
					<key>textColor</key>
					<string>#000000</string>
					<key>fontSize</key>
					<string>14</string>
					<key>text</key>
					<string>11 May 2015</string>
				</dict>
				<key>imageView</key>
				<dict>
					<key>image</key>
					<string>pics/viewOrderIcon@2x.png</string>
				</dict>
				<key>rightButton</key>
				<dict>
					<key>image</key>
					<string>pics/expendBtn@2x.png</string>
				</dict>
			</dict>
			<key>collectCell</key>
			<dict>
				<key>imageView</key>
				<dict>
					<key>image</key>
					<string>pics/pickOrderIcon.png</string>
				</dict>
				<key>titleLabel</key>
				<dict>
					<key>textColor</key>
					<string>#000000</string>
					<key>bold</key>
					<string>1</string>
					<key>fontSize</key>
					<string>18</string>
					<key>text</key>
					<string>Dear Lorem lpsum</string>
				</dict>
				<key>subtitleLabel</key>
				<dict>
					<key>textColor</key>
					<string>#000000</string>
					<key>fontSize</key>
					<string>16</string>
					<key>text</key>
					<string>Your order (Order ID:04356) is ready for pickup at</string>
				</dict>
				<key>locationLabel</key>
				<dict>
					<key>bold</key>
					<string>1</string>
					<key>textColor</key>
					<string>#000000</string>
					<key>fontSize</key>
					<string>16</string>
					<key>text</key>
					<string>Chatswood store</string>
				</dict>
				<key>viewOrderButton</key>
				<dict>
					<key>image</key>
					<string>pics/viewOrderIcon.png</string>
					<key>title</key>
					<string>View Order Invoice</string>
					<key>titleColor</key>
					<string>#202020</string>
				</dict>
				<key>locationButton</key>
				<dict>
					<key>titleColor</key>
					<string>#8c9b47</string>
					<key>fontSize</key>
					<string>18</string>
					<key>title</key>
					<string>Check the store location</string>
					<key>image</key>
					<string></string>
					<key>backgroundImage</key>
					<string>pics/pickOrderBtn.png</string>
					<key>backgroundColor</key>
					<string></string>
				</dict>
				<key>statusIconView</key>
				<dict>
					<key>image</key>
					<string>pics/greenCheck@2x.png</string>
				</dict>
				<key>orderStatusLabel</key>
				<dict>
					<key>bold</key>
					<string>1</string>
					<key>textColor</key>
					<string>#000000</string>
					<key>fontSize</key>
					<string>16</string>
					<key>text</key>
					<string>Your order is ready to pickup</string>
				</dict>
			</dict>
			<key>readyCell</key>
			<dict>
				<key>imageView</key>
				<dict>
					<key>image</key>
					<string>pics/pickOrderIcon.png</string>
				</dict>
				<key>titleLabel</key>
				<dict>
					<key>bold</key>
					<string>1</string>
					<key>textColor</key>
					<string>#000000</string>
					<key>fontSize</key>
					<string>18</string>
					<key>text</key>
					<string>Dear Lorem lpsum</string>
				</dict>
				<key>subtitleLabel</key>
				<dict>
					<key>textColor</key>
					<string>#000000</string>
					<key>fontSize</key>
					<string>16</string>
					<key>text</key>
					<string>Your order (Order ID:04356) is ready for pickup at</string>
				</dict>
				<key>locationLabel</key>
				<dict>
					<key>bold</key>
					<string>1</string>
					<key>textColor</key>
					<string>#000000</string>
					<key>fontSize</key>
					<string>16</string>
					<key>text</key>
					<string>Chatswood store</string>
				</dict>
				<key>viewOrderButton</key>
				<dict>
					<key>image</key>
					<string>pics/viewOrderIcon@2x.png</string>
					<key>title</key>
					<string>View Order Invoice</string>
					<key>titleColor</key>
					<string>#202020</string>
				</dict>
				<key>pickupButton</key>
				<dict>
					<key>titleColor</key>
					<string>#8c9b47</string>
					<key>fontSize</key>
					<string>18</string>
					<key>title</key>
					<string>Pickup order now</string>
					<key>image</key>
					<string></string>
					<key>backgroundImage</key>
					<string>pics/pickOrderBtn.png</string>
					<key>backgroundColor</key>
					<string></string>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>ShoppingCartView</key>
	<dict>
		<key>title</key>
		<string>Shopping Cart</string>
		<key>infoBackgroundImageView</key>
		<dict>
			<key>image</key>
			<string>pics/infoBg.png</string>
		</dict>
		<key>backgroundColor</key>
		<string>#f8f3ef</string>
		<key>tableView</key>
		<dict>
			<key>separatorInset</key>
			<string>{0, 0, 0, 0}</string>
			<key>rowHeight</key>
			<string>100</string>
			<key>backgroundColor</key>
			<string>#ffffff</string>
			<key>separatorColor</key>
			<string>#d8d8d8</string>
			<key>cells</key>
			<array>
				<dict>
					<key>textLabel</key>
					<dict>
						<key>textColor</key>
						<string>#101010</string>
						<key>fontSize</key>
						<string>16</string>
					</dict>
					<key>detailTextLabel</key>
					<dict>
						<key>textColor</key>
						<string>#505050</string>
						<key>fontSize</key>
						<string>16</string>
					</dict>
					<key>quantityButton</key>
					<dict>
						<key>titleColor</key>
						<string>#8c9b47</string>
						<key>fontSize</key>
						<string>14</string>
						<key>title</key>
						<string>Quantity:1</string>
						<key>image</key>
						<string></string>
						<key>backgroundImage</key>
						<string>pics/quantityBtn.png</string>
						<key>backgroundColor</key>
						<string></string>
					</dict>
					<key>imageView</key>
					<dict>
						<key>image</key>
						<string>pics/icon1.png</string>
					</dict>
				</dict>
			</array>
		</dict>
		<key>infoLabel</key>
		<dict>
			<key>backgroundColor</key>
			<string></string>
			<key>textColor</key>
			<string>#FFFFFF</string>
			<key>fontSize</key>
			<string>14</string>
			<key>text</key>
			<string>Our platform can bring to life a location-barse experience for your enterprise in under 10 minutes.</string>
		</dict>
		<key>totalPriceLabel</key>
		<dict>
			<key>backgroundColor</key>
			<string></string>
			<key>textColor</key>
			<string>#000000</string>
			<key>fontSize</key>
			<string>18</string>
			<key>text</key>
			<string>$988</string>
		</dict>
		<key>checkOutButton</key>
		<dict>
			<key>titleColor</key>
			<string>#8c9b47</string>
			<key>fontSize</key>
			<string>18</string>
			<key>title</key>
			<string>Check Out</string>
			<key>image</key>
			<string></string>
			<key>backgroundImage</key>
			<string>pics/shoppingCartBtn.png</string>
			<key>backgroundColor</key>
			<string></string>
			<key>highlightedBackgroundImage</key>
			<string>pics/bigButtonSelectedBg.png</string>
			<key>highlightedTitleColor</key>
			<string>ffffff</string>
		</dict>
	</dict>
	<key>IndoorMapView</key>
	<dict>
		<key>title</key>
		<string>Location</string>
		<key>mapImageView</key>
		<dict>
			<key>image</key>
			<string>pics/demoMap.png</string>
		</dict>
	</dict>
	<key>PaymentView</key>
	<dict>
		<key>title</key>
		<string>Order &amp; Pay</string>
		<key>backgroundColor</key>
		<string>#f8f3ef</string>
		<key>collectinStoreButton</key>
		<dict>
			<key>titleColor</key>
			<string>#8c9b47</string>
			<key>selectedBackgroundImage</key>
			<string>pics/bigButtonSelectedBg.png</string>
			<key>selectedTitleColor</key>
			<string>ffffff</string>
			<key>fontSize</key>
			<string>18</string>
			<key>title</key>
			<string>Collect in store</string>
			<key>image</key>
			<string></string>
			<key>backgroundImage</key>
			<string>pics/shoppingCartBtn.png</string>
			<key>backgroundColor</key>
			<string></string>
		</dict>
		<key>homeDeliveryButton</key>
		<dict>
			<key>titleColor</key>
			<string>#8c9b47</string>
			<key>selectedTitleColor</key>
			<string>ffffff</string>
			<key>fontSize</key>
			<string>18</string>
			<key>title</key>
			<string>Home delivery</string>
			<key>image</key>
			<string></string>
			<key>backgroundImage</key>
			<string>pics/shoppingCartBtn.png</string>
			<key>backgroundColor</key>
			<string></string>
			<key>selectedBackgroundImage</key>
			<string>pics/bigButtonSelectedBg.png</string>
		</dict>
		<key>headerLabel</key>
		<dict>
			<key>backgroundColor</key>
			<string></string>
			<key>textColor</key>
			<string>#202020</string>
			<key>fontSize</key>
			<string>16</string>
			<key>text</key>
			<string>Would you like to</string>
		</dict>
		<key>payDescLabel</key>
		<dict>
			<key>backgroundColor</key>
			<string></string>
			<key>textColor</key>
			<string>#202020</string>
			<key>fontSize</key>
			<string>16</string>
			<key>text</key>
			<string>Pay with PayPal</string>
		</dict>
	</dict>
	<key>PushLocateView</key>
	<dict>
		<key>title</key>
		<string>Push Locate</string>
		<key>infoBackgroundImageView</key>
		<dict>
			<key>image</key>
			<string>pics/infoBg.png</string>
		</dict>
		<key>backgroundColor</key>
		<string>#f8f3ef</string>
		<key>infoLabel</key>
		<dict>
			<key>backgroundColor</key>
			<string></string>
			<key>textColor</key>
			<string>#FFFFFF</string>
			<key>fontSize</key>
			<string>14</string>
			<key>text</key>
			<string>This feature will determine if a device is withing rang of a registered location. It can also be used to rang distance between devices</string>
		</dict>
		<key>descLabel</key>
		<dict>
			<key>backgroundColor</key>
			<string></string>
			<key>textColor</key>
			<string>#000000</string>
			<key>fontSize</key>
			<string>18</string>
			<key>text</key>
			<string>Silent Location</string>
		</dict>
	</dict>
</dict>
</plist>
