<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MainLeftMenuView</key>
	<dict>
		<key>tableView</key>
		<dict>
			<key>separatorInset</key>
			<string>{0, 0, 0, 0}</string>
			<key>rowHeight</key>
			<string>55</string>
			<key>backgroundColor</key>
			<string>#000000</string>
			<key>separatorColor</key>
			<string>#FFFFFF</string>
			<key>cells</key>
			<array>
				<dict>
					<key>textLabel</key>
					<dict>
						<key>textColor</key>
						<string>#FFFFFF</string>
						<key>fontSize</key>
						<string>22</string>
						<key>text</key>
						<string>Main menu</string>
					</dict>
					<key>imageView</key>
					<dict>
						<key>image</key>
						<string>pics/items.png</string>
					</dict>
				</dict>
				<dict>
					<key>textLabel</key>
					<dict>
						<key>textColor</key>
						<string>#FFFFFF</string>
						<key>fontSize</key>
						<string>22</string>
						<key>text</key>
						<string>Shopping cart</string>
					</dict>
					<key>imageView</key>
					<dict>
						<key>image</key>
						<string>pics/items.png</string>
					</dict>
				</dict>
				<dict>
					<key>textLabel</key>
					<dict>
						<key>textColor</key>
						<string>#FFFFFF</string>
						<key>fontSize</key>
						<string>22</string>
						<key>text</key>
						<string>Find store</string>
					</dict>
					<key>imageView</key>
					<dict>
						<key>image</key>
						<string>pics/items.png</string>
					</dict>
				</dict>
				<dict>
					<key>imageView</key>
					<dict>
						<key>image</key>
						<string>pics/items.png</string>
					</dict>
					<key>textLabel</key>
					<dict>
						<key>textColor</key>
						<string>#FFFFFF</string>
						<key>fontSize</key>
						<string>22</string>
						<key>text</key>
						<string>Contact us</string>
					</dict>
				</dict>
				<dict>
					<key>imageView</key>
					<dict>
						<key>image</key>
						<string>pics/items.png</string>
					</dict>
					<key>textLabel</key>
					<dict>
						<key>textColor</key>
						<string>#FFFFFF</string>
						<key>fontSize</key>
						<string>22</string>
						<key>text</key>
						<string>Reset demo app</string>
					</dict>
				</dict>
			</array>
		</dict>
		<key>titleLabel</key>
		<dict>
			<key>backgroundColor</key>
			<string>#000000</string>
			<key>textColor</key>
			<string>#FFFFFF</string>
			<key>fontSize</key>
			<string>22</string>
			<key>text</key>
			<string>Tony·Stark</string>
		</dict>
		<key>detailsLabel</key>
		<dict>
			<key>backgroundColor</key>
			<string>#000000</string>
			<key>textColor</key>
			<string>#FFFFFF</string>
			<key>fontSize</key>
			<string>18</string>
			<key>text</key>
			<string>This is a test</string>
		</dict>
		<key>userImageView</key>
		<dict>
			<key>image</key>
			<string>pics/userAvatar.png</string>
		</dict>
	</dict>
</dict>
</plist>
