<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Global</key>
	<dict>
		<key>navigationBar</key>
		<dict>
			<key>buttonColor</key>
			<string>#ffffff</string>
			<key>titleColor</key>
			<string>#ffffff</string>
			<key>backgroundColor</key>
			<string>#e65b5e</string>
			<key>backgroundImage</key>
			<string></string>
		</dict>
	</dict>
	<key>MainMenuView</key>
	<dict>
		<key>backgroundColor</key>
		<string>#f8f3ef</string>
		<key>tableView</key>
		<dict>
			<key>separatorInset</key>
			<string>{0, 0, 0, 0}</string>
			<key>rowHeight</key>
			<string>100</string>
			<key>backgroundColor</key>
			<string>#ffffff</string>
			<key>separatorColor</key>
			<string></string>
			<key>cells</key>
			<array>
				<dict>
					<key>textLabel</key>
					<dict>
						<key>textColor</key>
						<string>#505050</string>
						<key>fontSize</key>
						<string>28</string>
						<key>text</key>
						<string>Specials &amp; Promotions</string>
					</dict>
					<key>imageView</key>
					<dict>
						<key>image</key>
						<string>pics/items.png</string>
					</dict>
				</dict>
				<dict>
					<key>textLabel</key>
					<dict>
						<key>textColor</key>
						<string>#505050</string>
						<key>fontSize</key>
						<string>28</string>
						<key>text</key>
						<string>Products explore</string>
					</dict>
					<key>imageView</key>
					<dict>
						<key>image</key>
						<string>pics/items.png</string>
					</dict>
				</dict>
				<dict>
					<key>textLabel</key>
					<dict>
						<key>textColor</key>
						<string>#505050</string>
						<key>fontSize</key>
						<string>28</string>
						<key>text</key>
						<string>Click &amp; Collect</string>
					</dict>
					<key>imageView</key>
					<dict>
						<key>image</key>
						<string>pics/items.png</string>
					</dict>
					<key>rightImageView</key>
					<dict>
						<key>image</key>
						<string>pics/items.png</string>
					</dict>
				</dict>
				<dict>
					<key>textLabel</key>
					<dict>
						<key>textColor</key>
						<string>#505050</string>
						<key>fontSize</key>
						<string>28</string>
						<key>text</key>
						<string>Push Locate</string>
					</dict>
					<key>imageView</key>
					<dict>
						<key>image</key>
						<string>pics/items.png</string>
					</dict>
				</dict>
			</array>
		</dict>
		<key>infoLabel</key>
		<dict>
			<key>backgroundColor</key>
			<string></string>
			<key>textColor</key>
			<string>#FFFFFF</string>
			<key>fontSize</key>
			<string>14</string>
			<key>text</key>
			<string>Our platform can bring to life a location-barse experience for your enterprise in under 10 minutes.</string>
		</dict>
	</dict>
	<key>MainLeftMenuView</key>
	<dict>
		<key>separator</key>
		<dict>
			<key>alpha</key>
			<string>0.6</string>
			<key>backgroundColor</key>
			<string>#dddddd</string>
		</dict>
		<key>infoLabel</key>
		<dict>
			<key>backgroundColor</key>
			<string>#000000</string>
			<key>textColor</key>
			<string>#FFFFFe</string>
			<key>fontSize</key>
			<string>16</string>
			<key>text</key>
			<string>You have 2 orders</string>
		</dict>
		<key>tableView</key>
		<dict>
			<key>separatorInset</key>
			<string>{0, 0, 0, 0}</string>
			<key>rowHeight</key>
			<string>55</string>
			<key>backgroundColor</key>
			<string>#000000</string>
			<key>separatorColor</key>
			<string>#FFFFFF</string>
			<key>cells</key>
			<array>
				<dict>
					<key>selectedColor</key>
					<string>#eeeeee</string>
					<key>textLabel</key>
					<dict>
						<key>textColor</key>
						<string>#FFFFFF</string>
						<key>fontSize</key>
						<string>22</string>
						<key>text</key>
						<string>Main menu</string>
					</dict>
					<key>imageView</key>
					<dict>
						<key>image</key>
						<string>pics/items.png</string>
					</dict>
				</dict>
				<dict>
					<key>textLabel</key>
					<dict>
						<key>textColor</key>
						<string>#FFFFFF</string>
						<key>fontSize</key>
						<string>22</string>
						<key>text</key>
						<string>Shopping cart</string>
					</dict>
					<key>selectedColor</key>
					<string>#eeeeee</string>
					<key>imageView</key>
					<dict>
						<key>image</key>
						<string>pics/items.png</string>
					</dict>
				</dict>
				<dict>
					<key>textLabel</key>
					<dict>
						<key>textColor</key>
						<string>#FFFFFF</string>
						<key>fontSize</key>
						<string>22</string>
						<key>text</key>
						<string>Find store</string>
					</dict>
					<key>selectedColor</key>
					<string>#eeeeee</string>
					<key>imageView</key>
					<dict>
						<key>image</key>
						<string>pics/items.png</string>
					</dict>
				</dict>
				<dict>
					<key>imageView</key>
					<dict>
						<key>image</key>
						<string>pics/items.png</string>
					</dict>
					<key>selectedColor</key>
					<string>#eeeeee</string>
					<key>textLabel</key>
					<dict>
						<key>textColor</key>
						<string>#FFFFFF</string>
						<key>fontSize</key>
						<string>22</string>
						<key>text</key>
						<string>Contact us</string>
					</dict>
				</dict>
				<dict>
					<key>imageView</key>
					<dict>
						<key>image</key>
						<string>pics/items.png</string>
					</dict>
					<key>selectedColor</key>
					<string>#eeeeee</string>
					<key>textLabel</key>
					<dict>
						<key>textColor</key>
						<string>#FFFFFF</string>
						<key>fontSize</key>
						<string>22</string>
						<key>text</key>
						<string>Reset demo app</string>
					</dict>
				</dict>
			</array>
		</dict>
		<key>nameLabel</key>
		<dict>
			<key>backgroundColor</key>
			<string>#000000</string>
			<key>textColor</key>
			<string>#FFFFFF</string>
			<key>fontSize</key>
			<string>22</string>
			<key>text</key>
			<string>Tony·Stark</string>
		</dict>
		<key>detailsLabel</key>
		<dict>
			<key>backgroundColor</key>
			<string>#000000</string>
			<key>textColor</key>
			<string>#FFFFFF</string>
			<key>fontSize</key>
			<string>18</string>
			<key>text</key>
			<string>This is a test</string>
		</dict>
		<key>userImageView</key>
		<dict>
			<key>image</key>
			<string>pics/userAvatar.png</string>
		</dict>
	</dict>
</dict>
</plist>
